@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
};

// Name wh
// Desc
// Return
@mixin w-h($width, $height) {
    width: $width;
    height: $height;
};

@mixin background-image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin background-image-context() {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin flex-vertical-center() {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin box-shadow($top, $right, $bottom, $left, $color) {
  -webkit-box-shadow: $top, $right, $bottom, $left, $color;
  -moz-box-shadow: $top, $right, $bottom, $left, $color;
  box-shadow: $top, $right, $bottom, $left, $color;
}

@mixin rotate($degree) {
  /* Safari */
-webkit-transform: rotate($degree);

/* Firefox */
-moz-transform: rotate($degree);

/* IE */
-ms-transform: rotate($degree);

/* Opera */
-o-transform: rotate($degree);
}
