@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:200');
@import url('https://fonts.googleapis.com/css?family=Corben:700');
@import url('https://fonts.googleapis.com/css?family=Abel');

$cor: 'Corben', cursive;
$crimson: "Crimson Text", serif;
$montserrat: 'Montserrat', sans-serif;
$abel: 'Abel', sans-serif;
