@import "../../../styles.scss";

.home--main-container {
  @include w-h(100vw, 100vh);

  .home--content-overlay {
    @include w-h(100vw, 100vh);
    background: transparent;
    display: inline-flex;
    z-index: 1;

    .col-1 {
      @include w-h(15vw, 100vh);
      // background: rgba(39, 30, 130, 0.21);/

    }

    .col-2 {
      @include w-h(15vw, 100vh);
      color: white;
      font-family: $crimson;
      // background: rgba(199, 9, 117, 0.21);

      .cell-1 {
        @include w-h(100%, 25vh);
        // background: rgba(199, 29, 17, 0.21);
        @include flex-center();

      }
      .cell-2 {
        @include w-h(100%, 25vh);
        // background: rgba(199, 99, 17, 0.21);

      }
      .cell-3 {
        @include w-h(100%, 25vh);
        // background: rgba(99, 99, 17, 0.21);
        @include flex-center();

      }
      .cell-4 {
        @include w-h(100%, 25vh);
        // background: rgba(199, 99, 117, 0.21);
        @include flex-center();

      }
    }


    .col-3 {
      @include w-h(40vw, 100vh);
      // background: rgba(99, 80, 117, 0.21);
      @include flex-center();
    }


    .col-4 {
      @include w-h(35vw, 100vh);
      color: white;
      font-family: $crimson;
      // background: rgba(79, 60, 117, 0.21);
      @include flex-center();

    }

    .col-5 {
      @include w-h(10vw, 100vh);
      // background: rgba(97, 12, 103, 0.51);
      color: white;
      font-family: $crimson;

    }
  }

  .home--canvas-container {
    @include w-h(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    #home--canvas {
      @include w-h(100vw, 100vh);

      img {
        @include w-h(inherit, inherit);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

}
