<div class="home--main-container">
  <div class="home--content-overlay">

    <section class="col-1"></section>

    <section class="col-2">
      <div class="cell-1">jake musich</div>
      <div class="cell-2"></div>
      <div class="cell-3"></div>
      <div class="cell-4">artist - developer</div>
    </section>

    <section class="col-3">
    </section>

    <section class="col-4">
      <!-- <div class="btns-loop" *ngFor="let btn of btns">
        <div class="btn" (click)="open(btn.value)">
          {{btn.viewValue}}
        </div>
      </div> -->
    </section>

    <section class="col-5">
      >
    </section>

    <div class="guide"></div>

  </div>

  <div class="home--canvas-container">
    <div id="home--canvas">
      <img src="../../../assets/iceland_landscape_1.jpg" alt="">
      <!-- <canvas id="canvas" width="300" height="300"></canvas> -->
    </div>
  </div>
</div>
