@import "../../../../styles.scss";

.hm--container {
  @include w-h(100%, 100%);
  border: 1px solid green;
  // @include flex-center();
  display: inline-flex;
  color: white;

  .hm--slider {
    @include w-h(80%, 100%);
    // border: 1px solid pink;
    @include flex-center();
  }

  .hm--page-count {
    @include w-h(20%, 100%);
    // border: 1px solid red;
    @include flex-center();
  }
}
