@import "../../../styles.scss";

.landing-container {
  @include w-h(100vw, 100vh);
  background: lightgrey;
  // @include background-image('../../../assets/navigation-controller/photographs/straw_dark_01.jpg');


  .landing-logo {
    @include w-h(20%, 10%);
    background: pink;
    float: left;
    z-index: 2;

  }

  .landing-navigation {
    @include w-h(80%, 5%);
    // background: lightgreen;
    float: right;
    z-index: 2;

  }

  .landing-title {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 2;

    @include w-h(20%, 10%);
    // background: lightblue;
  }

  .landing-image {
    @include w-h(10%, 10%);
    #three-element {
      @include w-h(100%,100%);
    }
  }

}
