@import "../../../../styles.scss";

.container {
	@include w-h(100%, 100%);
	@include background-image('../../../../assets/navigation-controller/photographs/rock.jpg');
	@include flex-center();
	font-family: $montserrat;
	.content {
		@include w-h(50%, 50%);
		background: white;
		.controller {
			@include w-h(100%, 20%);
			background: lightgreen;
			margin: auto;
		}
	}
}
