@import "../../../../styles.scss";

.container {
  @include flex-center();
	@include w-h(100%, 100%);
	background: lavenderblush;
	font-family: $montserrat;
	.content {
		@include w-h(100%, 100%);
		background: white;
		.controller {
			@include w-h(100%, 40%);
			background: lightgreen;
			// margin: auto;
		}
    .cell {
      @include w-h(100%, 80%);
      background: yellow;
    }
	}
}
